{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form, {'action' : path('task_create')}) }}
        <div class="row">
            <div class="col-8 mx-auto">
                <div>
                    {{ form_row(form.title) }}
                </div>
                <div>
                    {{ form_row(form.content) }}
                </div>
                <button type="submit" class="btn btn-success pull-right w-20 mb-2 mt-2">Ajouter</button>
            </div>
        </div>
    {{ form_end(form) }}
    <div class="d-flex justify-content-center">
        <a href="{{ path('task_list', {'done': 0}) }}" class="btn btn-primary">Retour à la liste des tâches</a>
    </div>
{% endblock %}
