{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <div class="ligne">
        <a href="{{ path('task_create') }}" class="btn btn-info pull-right mb-2">Créer une tâche</a>
    </div>
    <div class="row">
        {% for task in tasks %}
            <div class="col-sm-4 col-lg-4 col-md-4 taskstyle">
                <h4 class="tasktitle">
                    {% if task.isDone %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                    </svg>
                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    {% endif %}
                    <a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}{{ task.id }}</a>
                </h4>
                <div class="thumbnail">
                    <div class="caption">
                        <h5 class="taskUsername">
                            {% if task.user is null %}
                                Autheur : Annonyme
                            {% else %}
                                Autheur : {{ task.user.username }}
                            {% endif %}
                        </h5>
                        <p>{{ task.content }}</p>
                    </div>
                    <div class="d-flex justify-content-start">
                        <form action="{{ path('task_toggle', {'id' : task.id }) }}" method="post">
                            <button class="btn btn-success btn-sm pull-right taskbutton mb-2 me-3">
                                {% if task.isDone %}
                                    Marquer non terminée
                                {% else %}
                                    Marquer comme faite
                                {% endif %}
                            </button>
                        </form>
                        <form action="{{ path('task_delete', {id : task.id }) }}" method="post">
                            <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
                            <input type="hidden" name = "_method" value = "DELETE">
                            <button type="submit" class="btn btn-danger btn-sm pull-right taskbutton">Supprimer</button>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée.
            </div>
        {% endfor %}
    </div>
{% endblock %}
