<nav class="navbar navbar-light navbar-fixed-top" style="background-color: #e3f2fd;" role="navigation">
	<div class="container">
		<div class="navbar-header titre">
			<a class="navbar-brand" href="{{ path('homepage') }}">To Do List app</a>
			<img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms"/>
		</div>
		<div class="navbar-header navbar-right menu">

			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('admin_user_list') }}" class="btn btn-success ml-2 navbarlink">Administration</a>
				<a href="{{ path('user_create') }}" class="btn btn-primary ml-2 navbarlink">Inscription</a>
			{% endif %}

			{% if app.user %}
				<a href="{{ path('app_logout') }}" class="pull-right btn btn-danger ml-2 navbarlink">Déconnexion</a>
			{% endif %}

			{% if not app.user and 'login' != app.request.attributes.get('_route') %}
				<a href="{{ path('app_login') }}" class="btn btn-success ml-2 navbarlink">Connexion</a>
			{% endif %}

			{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
				<a href="{{ path('user_create') }}" class="btn btn-primary ml-2 navbarlink">Inscription</a>
			{% endif %}
		</div>
	</div>
</div></nav>
