{% extends 'base.html.twig' %}

{% block header_title %}<h1>Créer un utilisateur</h1>{% endblock %}
{% block header_img %}{% endblock %}


{% block body %}
    {{ form_start(form, {'action' : path('user_create')}) }}
        <div class="class="form-control"">
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password) }}
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_row(form.roles) }}
                {% endif %}
            
                {# if csrf token is enabled for form render field #}
                {% if form._token is defined %}
                    {{ form_widget(form._token) }}
                {% endif %}

                <button type="submit" class="btn btn-success pull-right">Ajouter</button> 
        </div>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
