{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}<h1 class="mt-2">Liste des utilisateurs</h1>{% endblock %}

{% block body %}
    {% if users|length == 0 %}
        <div class="alert alert-warning" role="alert">
            Il n'y a pas encore d'utilisateur enregistré. <a href="{{ path('user_create') }}" class="btn btn-warning pull-right">Créer un utilisateur</a>
        </div>
    {% else %}
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
<<<<<<< HEAD
                        <th>Nom d'utilisateur</th>
                        <th>Adresse d'utilisateur</th>
                        <th>Rôle</th>
                        <th>Actions</th>
=======
                        <th class="text-center">Nom d'utilisateur</th>
                        <th class="text-center">Adresse d'utilisateur</th>
                        <th class="text-center">Rôle</th>
                        <th class="text-center">Actions</th>
>>>>>>> responsive
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
<<<<<<< HEAD
                            <td data-label=”Nom”>{{ user.username }}</td>
                            <td data-label=”Adresse”>{{ user.email }}</td>
                            <td data-label=”Rôle”>{% for role in user.roles %}{{ role ~ " " }}{% endfor %}</td>
                            <td data-label=””><a href="{{ path('admin_user_edit', {'id' : user.id}) }}" class="btn btn-success btn-sm">Edit</a></td>
=======
                            <td data-label="Nom" class="text-center">{{ user.username }}</td>
                            <td data-label="Adresse" class="text-center">{{ user.email }}</td>
                            <td data-label="Rôle" class="text-center">{% for role in user.roles %}{{ role ~ " " }}{% endfor %}</td>
                            <td data-label="Actions" class="text-center">
                                <div class="d-flex justify-content-center">
                                    <a href="{{ path('admin_user_edit', {'id' : user.id}) }}" class="btn btn-success btn-sm btn-user ml-2 mr-2 text-center">Edit</a>
                                    <form action="{{ path('user_delete', {id : user.id }) }}" method="post">
                                        <input type="hidden" name="token" value="{{ csrf_token('delete-user') }}"/>
                                        <button type="submit" class="btn btn-danger btn-sm btn-user text-center">Supprimer</button>
                                    </form>
                                </div>
                            </td>
>>>>>>> responsive
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
